.git
.godot
**/Godot/
**/Unity/
**/.jen_quarantine/
**/.cache/
**/*.exe
**/*.dll
**/*.pdb
**/*.import/
**/*.tmp
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.project
.env
.venv
venv/
venv_mouth/
*.log
**/Library/
**/obj/
**/bin/
